<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        컴포넌트 스캔(component-scan)
        bean을 직접 등록하지 않고 자동으로 @Component가 붙은 클래스들을 자동으로 빈으로 등록한다.
        base-package 속성에서 정의한 패키지 이하의 클래스를 대상으로 한다.
    -->
    <context:component-scan base-package="polymorphism"></context:component-scan>

</beans>